# üß™ SQL ‚Äî Creation and Querying Basics

This lab focuses on **table creation** and **basic querying** (`SELECT/DISTINCT/FROM`, `WHERE`, `ORDER BY`, `LIMIT/OFFSET`).

## üõù 1. In-Memory Database Playground

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Create an in-memory SQLite database
engine = create_engine('sqlite:///:memory:')

# Sample dataset
data = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'Dana', 'Ethan'],
    'department': ['AI', 'Data', 'Web', 'AI', 'Data'],
    'score': [85, 90, 78, 92, 88]
})
data.to_sql('students', engine, index=False, if_exists='replace')
print('Database created!')

### Data Types

#### String Data Types
| Data type | Description |
| -- | -- | 
CHAR(size) | A FIXED length string (can contain letters, numbers, and special characters). The size parameter specifies the column length in characters - can be from 0 to 255. Default is 1
VARCHAR(size) | A VARIABLE length string (can contain letters, numbers, and special characters). The size parameter specifies the maximum string length in characters - can be from 0 to 65535
BINARY(size) | Equal to CHAR(), but stores binary byte strings. The size parameter specifies the column length in bytes. Default is 1
VARBINARY(size)	Equal to VARCHAR(), but stores binary byte strings. The size parameter specifies the maximum column length in bytes.
TINYBLOB | For BLOBs (Binary Large Objects). Max length: 255 bytes
TINYTEXT | Holds a string with a maximum length of 255 characters
TEXT(size) | Holds a string with a maximum length of 65,535 bytes
BLOB(size) | For BLOBs (Binary Large Objects). Holds up to 65,535 bytes of data
MEDIUMTEXT	Holds a string with a maximum length of 16,777,215 characters
MEDIUMBLOB	For BLOBs (Binary Large Objects). Holds up to 16,777,215 bytes of data
LONGTEXT	Holds a string with a maximum length of 4,294,967,295 characters
LONGBLOB	For BLOBs (Binary Large Objects). Holds up to 4,294,967,295 bytes of data
ENUM(val1, val2, val3, ...)	A string object that can have only one value, chosen from a list of possible values. You can list up to 65535 values in an ENUM list. If a value is inserted that is not in the list, a blank value will be inserted. The values are sorted in the order you enter them
SET(val1, val2, val3, ...)	A string object that can have 0 or more values, chosen from a list of possible values. You can list up to 64 values in a SET list

#### Numeric Data Types
Data type	Description
BIT(size)	A bit-value type. The number of bits per value is specified in size. The size parameter can hold a value from 1 to 64. The default value for size is 1.
TINYINT(size)	A very small integer. Signed range is from -128 to 127. Unsigned range is from 0 to 255. The size parameter specifies the maximum display width (which is 255)
BOOL	Zero is considered as false, nonzero values are considered as true.
BOOLEAN	Equal to BOOL
SMALLINT(size)	A small integer. Signed range is from -32768 to 32767. Unsigned range is from 0 to 65535. The size parameter specifies the maximum display width (which is 255)
MEDIUMINT(size)	A medium integer. Signed range is from -8388608 to 8388607. Unsigned range is from 0 to 16777215. The size parameter specifies the maximum display width (which is 255)
INT(size)	A medium integer. Signed range is from -2147483648 to 2147483647. Unsigned range is from 0 to 4294967295. The size parameter specifies the maximum display width (which is 255)
INTEGER(size)	Equal to INT(size)
BIGINT(size)	A large integer. Signed range is from -9223372036854775808 to 9223372036854775807. Unsigned range is from 0 to 18446744073709551615. The size parameter specifies the maximum display width (which is 255)
FLOAT(size, d)	A floating point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter. This syntax is deprecated in MySQL 8.0.17, and it will be removed in future MySQL versions
FLOAT(p)	A floating point number. MySQL uses the p value to determine whether to use FLOAT or DOUBLE for the resulting data type. If p is from 0 to 24, the data type becomes FLOAT(). If p is from 25 to 53, the data type becomes DOUBLE()
DOUBLE(size, d)	A normal-size floating point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter
DOUBLE PRECISION(size, d)	 
DECIMAL(size, d)	An exact fixed-point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter. The maximum number for size is 65. The maximum number for d is 30. The default value for size is 10. The default value for d is 0.
DEC(size, d)	Equal to DECIMAL(size,d)
Note: All the numeric data types may have an extra option: UNSIGNED or ZEROFILL. If you add the UNSIGNED option, MySQL disallows negative values for the column. If you add the ZEROFILL option, MySQL automatically also adds the UNSIGNED attribute to the column.

#### Date and Time Data Types
Data type	Description
DATE	A date. Format: YYYY-MM-DD. The supported range is from '1000-01-01' to '9999-12-31'
DATETIME(fsp)	A date and time combination. Format: YYYY-MM-DD hh:mm:ss. The supported range is from '1000-01-01 00:00:00' to '9999-12-31 23:59:59'. Adding DEFAULT and ON UPDATE in the column definition to get automatic initialization and updating to the current date and time
TIMESTAMP(fsp)	A timestamp. TIMESTAMP values are stored as the number of seconds since the Unix epoch ('1970-01-01 00:00:00' UTC). Format: YYYY-MM-DD hh:mm:ss. The supported range is from '1970-01-01 00:00:01' UTC to '2038-01-09 03:14:07' UTC. Automatic initialization and updating to the current date and time can be specified using DEFAULT CURRENT_TIMESTAMP and ON UPDATE CURRENT_TIMESTAMP in the column definition
TIME(fsp)	A time. Format: hh:mm:ss. The supported range is from '-838:59:59' to '838:59:59'
YEAR	A year in four-digit format. Values allowed in four-digit format: 1901 to 2155, and 0000.
MySQL 8.0 does not support year in two-digit format.

### üîç Querying Basics

In [ ]:
# List all students, showing their score:
pd.read_sql('', engine)

In [ ]:
# Which students have scored higher than 85?
pd.read_sql('', engine)

In [ ]:
# Order students by score:
pd.read_sql('', engine)

Try some more simple exercises:
1. Select all students from the Data department.
2. List students with scores between 80 and 90.
3. Display names alphabetically.
4. Display names with more than 5 characters.

## üß± 2. Creating a Persistent Database

We'll use SQLite.

In [ ]:
import sqlite3, pathlib

DB = pathlib.Path("notebooks/week2/D1S2.db")

con = sqlite3.connect(DB)
cur = con.cursor()
cur.executescript("""
CREATE TABLE IF NOT EXISTS prompts (
    id INTEGER PRIMARY KEY,
    topic VARCHAR(64) NOT NULL,
    language CHAR(2) NOT NULL CHECK (language IN ('en','es','fr','de','it')),
    created_at TIMESTAMP NOT NULL,
    source VARCHAR(9) NOT NULL CHECK (source IN ('user','import','synthetic')),
    status VARCHAR(8) NOT NULL CHECK (status IN ('draft','curated','rejected')),
    input_text VARCHAR(1024) NOT NULL,
    contains_code INTEGER NOT NULL CHECK (contains_code IN (0,1)) DEFAULT 0,
    tags VARCHAR(64),
    safety_flag INTEGER NOT NULL CHECK (safety_flag IN (0,1)) DEFAULT 0,
    quality_score REAL CHECK (quality_score BETWEEN 0 AND 100)
);
""")

Let's fill this in.

In [ ]:
CSV = pathlib.Path("notebooks/week2/sql_lab_prompts.csv")

data = pd.read_csv(CSV)

data.to_sql("prompts", con, if_exists="append", index=False)
con.commit()

To inspect the schema:

In [ ]:
def q(sql, params=None):
    return pd.read_sql_query(sql, con, params=params or {})

q("PRAGMA table_info(prompts)")

### Parenthesis: ANSI SQL Data Types

Non-comprehensive lists.

#### String Data Types

Data type | Description
-- | --
CHAR(n) | Fixed width n-character string, padded with spaces as needed
VARCHAR(n) | Variable width string with a maximum size of n characters

Particular implementation can offer more types. MySQL, for instance, has `BINARY`, `VARBINARY` (like chars but for byte strings), `TEXT` (like `VARCHAR` but _not_ stored inline and supporting longer texts), `BLOB` (like `TEXT` for byte strings), `ENUM` and `SET`.

#### Numeric Data Types

Data type | Description
-- | --
INTEGER or INT | 32-bit integer
SMALLINT | 16-bit integer
DECIMAL(n, d) | Fixed-point number with n digits, of which d are decimals
FLOAT | Implemented as a 64-bit integer + 32 bits for sign and exponent
DOUBLE | 128-bit integer + 32 bits for sign and exponent

In MySQL, numeric data types may the extra option `UNSIGNED`.


#### Date and Time Data Types

Data type | Description
-- | --
DATE | Date in format YYYY-MM-DD
TIME | Time in format hh:mm:ss. Granularity is usually up to 100 nanoseconds
TIMESTAMP | Date and time in format YYYY-MM-DD hh:mm:ss

`TIME` and `TIMESTAMP` can also be `WITH TIME ZONE`.

## üîé 3. Querying our Table

When exploring, use `LIMIT`.

In [ ]:
q("SELECT * FROM prompts LIMIT 10")

### ‚öôÔ∏è Aggregation

`COUNT`, `SUM`, `MIN`, `MAX`, `AVG`. More advanced functions: `COVAR_POP` and `COVAR_SAMP` (difference in normalization), `CUME_DIST`, `DENSE_RANK`, `PERCENT_RANK`.

In [ ]:
# How many prompts are there?
q("SELECT COUNT(*) AS n_prompts FROM prompts")

In [ ]:
# Which topics are there?
q("SELECT DISTINCT topic FROM prompts")

### ‚¨ÜÔ∏è‚¨áÔ∏è Sorting (ORDER BY)

Use ascending/descending order on one or more columns. Some other useful functions: `ROUND(x, n)`, `SUBSTR(txt, start, stop)`.

In [ ]:
# Explore on your own, and share your findings:
q("""
  SELECT
    topic,
    MIN(quality_score) AS min_score,
    MAX(quality_score) AS max_score,
    ROUND(AVG(quality_score), 2) AS avg_score
  FROM prompts GROUP BY topic ORDER BY avg_score ASC
""")

In [ ]:
# Craft a query using `CUME_DIST()` or other advanced function:

### üéØ Filtering

Comparison operators and predicates: `=`, `!=`, `>`, `>=`, `<`, `<=`, `BETWEEN`, `IN`, `LIKE`, `IS NULL`.

In [ ]:
# By equality and threshold
q("""
SELECT id, topic, quality_score
FROM prompts
WHERE topic = 'technology' AND quality_score >= 70
ORDER BY quality_score DESC
LIMIT 15
""")

# Using IN and BETWEEN
q("""
SELECT id, topic, quality_score
FROM prompts
WHERE topic IN ('finance','science','healthcare')
  AND quality_score BETWEEN 60 AND 85
ORDER BY topic ASC, quality_score DESC
LIMIT 20
""")

# Pattern matching with LIKE
q("""
SELECT id, SUBSTR(input_text,1,90) AS snippet
FROM prompts
WHERE input_text LIKE '%analyze%'
ORDER BY id
LIMIT 10
""")

In [ ]:
# Highest quality prompts overall
q("""
SELECT id, topic, quality_score, substr(input_text,1,80) AS snippet
FROM prompts
ORDER BY quality_score DESC, id ASC
LIMIT 10
""")

# Recent prompts first (string order is fine since created_at is ISO-like)
q("""
SELECT id, created_at, topic, ROUND(quality_score,1) AS quality
FROM prompts
ORDER BY created_at DESC
LIMIT 10
""")

### ‚úÇÔ∏è LIMIT & OFFSET (paging)

In [ ]:
# Page 1
q("""
SELECT id, topic, quality_score
FROM prompts
ORDER BY id
LIMIT 10 OFFSET 0
""")

# Page 2
q("""
SELECT id, topic, quality_score
FROM prompts
ORDER BY id
LIMIT 10 OFFSET 10
""")

## üß© Some More Exercises

1. Return 12 `technology` prompts containing the word `design`, ordered by `quality_score` descending.  
2. Show 15 prompts whose `topic` is either `finance` or `science`, where `quality_score` is **not less than** 65, ordered by topic then quality.  
3. Get 10 most recent prompts where `input_text` contains `summarize` or `explain` (any topic).  
4. List the first 20 **distinct** topics that contain the letter `e` anywhere.